/*
* 主要样式
* V1.0
* 2019-10-17
* 负责人:邬恒宇
* */
*{
    margin: 0;
    padding: 0;
}
img{
    width: 940px;
    height: 380px;
    display: block;
}
ul{
    list-style: none;
}
#content{
    width: 940px;
    height: 380px;
    position: relative;
    margin: 0 auto;
    margin-top: 300px;
}
#btn-prev{
    position: absolute;
    background-color: dimgray;
    width: 15px;
    height: 30px;
    border-radius:0 50px 50px 0;
    left: 0px;
    top: 50%;
    color: white;
    line-height: 30px;
    opacity:0.5;
    padding: 0px;
    cursor: pointer;
}
#btn-next{
    position: absolute;
    background-color: dimgray;
    right: 0px;
    top: 50%;
    width: 20px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-radius:50px 0 0 50px;
    opacity:0.5;
    padding: 0px;
    text-align: center;
    cursor: pointer;
}
#point{
    position: absolute;
    right: 20px;
    bottom: 15px;
    height: 15px;
    width: 130px;
}
#point1,#point2,#point3,#point4,#point5,#point6{
    background-color: dimgray;
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
}
#point1:hover,#point2:hover,#point3:hover,#point4:hover,#point5:hover,#point6:hover{
    background-color: white;
    width: 20px;
    height: 10px;
    float: left;
    border-radius: 50px 0 0 50px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 20px #333333;
}
#content>ul>li{
    position: absolute;
    display: none;
}
#content>ul>li.active{
    display: block;
}
#point{
    position: absolute;
    right: 20px;
    bottom: 15px;
    height: 15px;
    width: 100px;
}
#point>ul{
    width: 100%;
    height: 100%;
    /*弹性盒子*/
    display: flex;
    /*垂直方向居中*/
    align-items: center;
    /*水平方向元素平均分布*/
    justify-content: space-around;
}
#point>ul>li{
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 50%;
    cursor: pointer;
}
#point>ul>li:hover{
    box-shadow:0px 20px 20px #333333 ;
}
#point>ul>li.active-point{
    background: #333333;
}